<div id="footer">
  {{!-- Backtotop --}}
  <div id="backtotop">
    <img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/icon-arrow.svg" alt=""
      class="fluid-image">
  </div>
  <footer id="l-footer" class="l-footer">

    {{!-- Footer --}}
    <div class="wrp-container">
      <div class="box-footerinfo">
        <div class="box-footerinfo__logo">
          <p class="box-footerinfo__logo__img"><a href="#"><img
                src="https://svietnam.travel/wp-content/uploads/2020/01/logo-svietnam-travel.png" alt=""
                class="full-image"></a></p>
        </div>
        <div class="box-footerinfo__logo box-footerinfo__logo1">
          <p class="box-footerinfo__logo__img"><a href="#"><img
                src="https://www.visithcmc.vn/uploads/0000/1/2021/12/03/logo-traveloka-thai-031-150.png" alt=""
                class="full-image"></a></p>
        </div>
        <div class="box-footerinfo__register">
          <p class="box-footerinfo__register__ttl">ĐĂNG KÝ NHẬN TIN</p>
          <p class="box-footerinfo__register__txt">Nhận những câu chuyện du lịch mới từ<br class="is-visibleSp"> thành
            phố
            Huế đến hộp thư của bạn.</p>

          <form action="https://localhost:8080/" class="frm-register subcribe-form bravo-subscribe-form bravo-form">
            <input name="email" type="text" placeholder="Nhập địa chỉ Email của bạn" class="frm-register__input">
            <button style="clear: both;" type="submit" class="btn-submit btn frm-register__btn btn">Đăng ký<i
                class="fa fa-spinner fa-pulse fa-fw"></i></button>
          </form>

          <div id="form-mess">
            <div class="form-mess" style="width: 100%; text-align: center; font-size: 1.7rem;"></div>
          </div>
        </div>
        <div class="box-footerinfo__social">
          <ul class="lst-social">
            <li><a href="#"><img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/icon-facebook.svg"
                  alt="" class="full-image"></a></li>
            <li><a href="#"><img
                  src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/icon-instagram.svg" alt=""
                  class="full-image"></a></li>
            <li><a href="#"><img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/icon-tiktok.svg"
                  alt="" class="full-image"></a></li>
            <li><a href="#"><img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/icon-youtube.svg"
                  alt="" class="full-image"></a></li>
          </ul>
          <ul class="lst-download-app">
            <li><a href="#"><img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/ft-appstore.png"
                  alt="" class="fluid-image"></a></li>
            <li><a href="#"><img src="http://www.visithcmc.vn/dist/frontend/page/assets/images/common/ft-googleplay.png"
                  alt="" class="fluid-image"></a></li>
          </ul>
        </div>
      </div>
      <ul class="footer-submenu">
        <li><a href="/">Về Thành phố Huế</a></li>
        <li><a href="">Đối tác</a></li>
        <span class="breakline is-visibleSp"></span>
        <li><a href="/contact">Liên hệ</a></li>
        <li><a href="">Điều khoản sử dụng</a></li>
        <li><a href="">Cam kết bảo mật</a></li>
      </ul>
    </div>
    <div class="l-footer__wrapper">
      <div class="wrp-container">
        <nav class="nav-contentinfo">
          <ul>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Khám phá</a></li>
            <li><a href="/">Kế hoạch chuyến đi</a></li>
            <li><a href="/">Lễ hội &amp; Sự kiện</a></li>
            <li><a href="/">Ưu đãi</a></li>
            <li><a href="/">Tin tức</a></li>
            <li><a href="/">Thông tin cần biết</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <p class="power"> Powered by <a href="https://github.com/Crowz102">@Crowz</a> with ❤️️ </p>
    </div>
  </footer>
</div>