<div class="header-stick">
    <nav class="header-wr-stick">
        <div class="top-header-stick">
            <div class="site-logo-stick">
                <a href="/">
                    <img src="/img/logo.png" class="logo" alt="Logo">
                </a>
            </div>

            <div class="search-stick">
                <form action="" class="search-box-stick">
                    <input type="text" class="search-text-stick" placeholder="Search..." required>
                    <button class="search-button-stick"><i class="fa-search fa-solid"></i></button>
                </form>
                <i class="fa-solid fa-earth-americas"></i>
            </div>

        </div>
    </nav>
</div>